.formwrapper {
  position: fixed;
  top: 0;

  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(23, 21, 43, 0.6);
}
form {
  background-color: rgba(23, 21, 43, 0.98);
  width: 50vw;
  height: 100%;
  border-radius: 5px;
  padding: 20px 0px 50px 0px;
}

.fieldset_container {
  position: relative;
  width: 100%;
  min-height: 50vh;
  overflow: hidden;
}

.fieldset_slider {
  display: flex;
  transform: translateX(var(--slide-distance));
  transition: transform 0.5s ease-in-out;
}

fieldset {
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.checkbox_container {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr;
}

.formcontrol {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  justify-content: left;
}
#user_field {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
