.formwrapper {
  position: absolute;
  top: 0;

  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(23, 21, 43, 0.6);
}
form {
  background-color: rgba(23, 21, 43, 0.98);
  width: 50vw;
  height: 100%;
  border-radius: 10px;
  padding: 20px 0px 50px 0px;
  box-shadow: 0px 0px 100px var(--bg-color);
}

.fieldset_container {
  position: relative;
  width: 100%;
  min-height: 50vh;
  overflow: hidden;
}

.fieldset_slider {
  display: flex;
  transform: translateX(var(--slide-distance));
  transition: transform 0.4s cubic-bezier(0.74, 0.01, 0.21, 0.99);
}

fieldset {
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.checkbox_container {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr 1fr;
}

.formcontrol {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  justify-content: left;
}
#user_field {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.progress_pill {
  width: 25px;
  height: 25px;
  border: 1px solid var(--primary-color);
  margin: 0 30px 40px;
  border-radius: 50%;
  position: relative;
  background-color: transparent;
  overflow: hidden;
  transition: background-color 0.4s cubic-bezier(0.74, 0.01, 0.21, 0.99);

  &.shown {
    background-color: var(--primary-color);
  }
}

@media only screen and (max-width: 750px) {
  .formwrapper {
    display: none;
  }
}

@media only screen and (max-width: 1450px) {
  form {
    width: 725px;
  }
}
