.progress_pill_container {
        display: flex;
        justify-content: center;
      }


.progress_pill {
    fill: transparent; 
    stroke-width: 0;
      &  .shown {
        stroke: transparent; 
        fill: #B2F6B1; 
        transition: fill 1s linear;
      }}


// make as div maybe :)